body {
  font-family: kepler-std, Georgia, serif;
}
.odometer-wheel {
  font-family: 'calluna-sans';
  font-size: 48px;
  position: relative;
  width: 40px;
  height: 60px;
  border: 1px solid #ccc;
}
.odometer-wheel .digits {
  -webkit-transform-origin: 50% 50% 0px;
  -moz-transform-origin: 50% 50% 0px;
  -o-transform-origin: 50% 50% 0px;
  -ms-transform-origin: 50% 50% 0px;
  transform-origin: 50% 50% 0px;
  -webkit-transform: rotate3d(0, 0, 0, 90deg);
  -moz-transform: rotate3d(0, 0, 0, 90deg);
  -o-transform: rotate3d(0, 0, 0, 90deg);
  -ms-transform: rotate3d(0, 0, 0, 90deg);
  transform: rotate3d(0, 0, 0, 90deg);
}
.odometer-wheel span {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: block;
}
.odometer-wheel .number {
  -webkit-transform-origin: 50% 50% -100px;
  -moz-transform-origin: 50% 50% -100px;
  -o-transform-origin: 50% 50% -100px;
  -ms-transform-origin: 50% 50% -100px;
  transform-origin: 50% 50% -100px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.odometer-wheel .one {
  -webkit-transform: rotate3d(1, 0, 0, 36deg);
  -moz-transform: rotate3d(1, 0, 0, 36deg);
  -o-transform: rotate3d(1, 0, 0, 36deg);
  -ms-transform: rotate3d(1, 0, 0, 36deg);
  transform: rotate3d(1, 0, 0, 36deg);
}
.odometer-wheel .two {
  -webkit-transform: rotate3d(1, 0, 0, 72deg);
  -moz-transform: rotate3d(1, 0, 0, 72deg);
  -o-transform: rotate3d(1, 0, 0, 72deg);
  -ms-transform: rotate3d(1, 0, 0, 72deg);
  transform: rotate3d(1, 0, 0, 72deg);
}
.odometer-wheel .three {
  -webkit-transform: rotate3d(1, 0, 0, 108deg);
  -moz-transform: rotate3d(1, 0, 0, 108deg);
  -o-transform: rotate3d(1, 0, 0, 108deg);
  -ms-transform: rotate3d(1, 0, 0, 108deg);
  transform: rotate3d(1, 0, 0, 108deg);
}
.odometer-wheel .four {
  -webkit-transform: rotate3d(1, 0, 0, 144deg);
  -moz-transform: rotate3d(1, 0, 0, 144deg);
  -o-transform: rotate3d(1, 0, 0, 144deg);
  -ms-transform: rotate3d(1, 0, 0, 144deg);
  transform: rotate3d(1, 0, 0, 144deg);
}
.odometer-wheel .five {
  -webkit-transform: rotate3d(1, 0, 0, 180deg);
  -moz-transform: rotate3d(1, 0, 0, 180deg);
  -o-transform: rotate3d(1, 0, 0, 180deg);
  -ms-transform: rotate3d(1, 0, 0, 180deg);
  transform: rotate3d(1, 0, 0, 180deg);
}
.odometer-wheel .six {
  -webkit-transform: rotate3d(1, 0, 0, 216deg);
  -moz-transform: rotate3d(1, 0, 0, 216deg);
  -o-transform: rotate3d(1, 0, 0, 216deg);
  -ms-transform: rotate3d(1, 0, 0, 216deg);
  transform: rotate3d(1, 0, 0, 216deg);
}
.odometer-wheel .seven {
  -webkit-transform: rotate3d(1, 0, 0, 252deg);
  -moz-transform: rotate3d(1, 0, 0, 252deg);
  -o-transform: rotate3d(1, 0, 0, 252deg);
  -ms-transform: rotate3d(1, 0, 0, 252deg);
  transform: rotate3d(1, 0, 0, 252deg);
}
.odometer-wheel .eight {
  -webkit-transform: rotate3d(1, 0, 0, 288deg);
  -moz-transform: rotate3d(1, 0, 0, 288deg);
  -o-transform: rotate3d(1, 0, 0, 288deg);
  -ms-transform: rotate3d(1, 0, 0, 288deg);
  transform: rotate3d(1, 0, 0, 288deg);
}
.odometer-wheel .nine {
  -webkit-transform: rotate3d(1, 0, 0, 324deg);
  -moz-transform: rotate3d(1, 0, 0, 324deg);
  -o-transform: rotate3d(1, 0, 0, 324deg);
  -ms-transform: rotate3d(1, 0, 0, 324deg);
  transform: rotate3d(1, 0, 0, 324deg);
}
