.large-serif,
h1,
h2,
.odometer {
  font-family: kepler-std-display, Georgia, serif;
}
.sans,
.odometers,
.odometers h2,
#age_form #dob,
#age_form button,
.credits {
  font-family: calluna-sans, Avenir, Helvetica Neue, Helvetica, sans-serif;
}
body {
  font-family: kepler-std, Georgia, serif;
  background-color: #dfe2e6;
}
.content {
  padding: 0 10%;
}
@media (max-width: 480px) {
  .content {
    padding: 0 10px;
  }
}
h1 {
  font-size: 60px;
  font-style: italic;
  line-height: 60px;
  margin: 0;
}
@media (max-width: 480px) {
  h1 {
    font-size: 16vw;
    line-height: 16vw;
  }
}
h2 {
  margin: 1em 0 0;
}
@media (max-width: 480px) {
  h2 {
    font-size: 6vw;
    line-height: 6vw;
  }
}
p {
  margin: 0 0 1em;
  max-width: 33em;
  font-size: 18px;
  line-height: 1.4;
  padding: 0 5px;
}
.odometers {
  text-align: right;
  max-width: 35em;
  margin: 0 auto;
}
.odometers h2 {
  text-align: left;
  border-bottom: 1px solid #b7b4b4;
}
.odometer {
  font-size: 50px;
}
@media (max-width: 480px) {
  .odometer {
    font-size: 8vw;
  }
}
.notes-outer {
  margin-top: 2em;
  text-align: right;
}
.notes {
  display: inline-block;
  border-top: 1px solid #8a8585;
}
#age_form {
  text-align: center;
}
#age_form #dob {
  width: 10em;
  font-size: 18px;
  font-feature-settings: "lnum";
  border: 1px solid #b7b4b4;
}
#age_form button {
  border: none;
  background-color: #821b0d;
  color: #fff;
  font-size: 16px;
  padding: 5px 1em;
}
.credits {
  margin-top: 3em;
  text-align: center;
  font-size: 14px;
}
