@import 'nib';

.large-sans {
  font-family: kepler-std-display, Georgia, serif;
}

body {
  font-family: kepler-std, Georgia, serif;
  background-color: #DFE2E6;
}

h1 {
  @extend .large-sans;
  font-size: 60px;
  font-style: italic;
  line-height: 60px;
}

.odometers {
  text-align: right;
}

.odometer {
  @extend .large-sans;
  font-size: 50px;
}
